importFrom("phytools",
           "nodeHeights")
importFrom("pbapply",
           "pboptions", "pbapply")
importFrom("plotrix",
           "color.scale")
importFrom("ape",
           "nodepath", "Ntip", "getMRCA", "branching.times")
importFrom("ggplot2",
           "aes", "after_stat", "annotate", "element_blank", "element_text", "facet_grid",
           "facet_wrap", "geom_blank", "geom_density", "geom_histogram","geom_hline", "geom_label", "geom_line",
           "geom_point", "geom_smooth", "geom_violin", "geom_vline","ggplot", "ggplot_build", "ggtitle", "guides", "labs",
           "layer_data", "position_jitter", "position_nudge", "scale_color_steps2",
           "scale_x_continuous", "scale_y_continuous", "stat_density", "stat_summary", "theme",
           "theme_bw", "vars", "xlim",".data")

export("createCountsTable", "scalarSearch", "meanBranches",
       "ggAutoCor", "btmcmc", "rateShifts", "transShifts", "plotShifts",
       "loadRJ", "smartBind", "multiplyNodes", "compPosts",
       "compareStones", "findShifts", "findRateShifts", "findTransShifts",
       "getParams", "getDescs", "getPL", "getTipNames", "getTaxa",
       "getMRCAbtr", "ggDens", "ggAutoCor", "ggRunmean",
       "plotPhylo", "plotPosts", "summariseModelString", "viewLogfile")


